* {
  margin: 0;
  padding: 0; }

.body {
  font-family: 'Montserrat', sans-serif;
  background-color: #003049;
  color: #eae2b7;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: .015em;
  font-weight: 400;
  font-style: normal;
  display: block; }
  @media screen and (min-width: 1024px) {
    .body {
      font-size: 14px;
      line-height: 1.8em;
      letter-spacing: .015em;
      font-weight: 300; } }
  @media only screen and (min-width: 768px) {
    .body {
      font-size: 12px;
      line-height: 1.8em;
      letter-spacing: .015em;
      font-weight: 200; } }

.menu {
  background-color: #003049 !important;
  color: #eae2b7 !important; }

.navbar-brand {
  font-size: 2.25rem; }

.encabezado a {
  text-decoration: none;
  color: #eae2b7;
  font-size: 19px;
  transition: all 0.2s ease-out;
  padding: 0 20px;
  text-shadow: rgba(185, 185, 185, 0.233) 0 1px;
  position: relative;
  left: 100px; }

/*.Titulo{
    position: absolute;
    top: 25%;
    right: 10%;
    left: 15%; 
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $tercery-color;
   
    @media screen and (min-width: 1024px){
        top: 25%;
    right: 10%;
    left: 10%;
    font-size: 90px; 
        


    }
    
    @media only screen and (min-width: 768px){
        font-size: 70px;
        top: 30%;
        right: 10%;
        left: 10%; 
    }

    
    
    
     
}*/
.Subtitulo {
  position: absolute;
  top: 48%;
  left: 40%;
  font-size: 50px;
  color: black; }
  @media screen and (max-width: 1024px) {
    .Subtitulo {
      display: none; } }

.Subtitulo3 {
  position: absolute;
  top: 35%;
  left: 10%;
  font-size: 50px;
  color: #eae2b7;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #eae2b7, 
 4px 3px 1px #363636; }
  @media screen and (max-width: 720px) {
    .Subtitulo3 {
      font-size: small; } }

.Parrafo1 {
  background-color: #003049;
  color: #eae2b7;
  font-size: 25px;
  padding: 50px;
  margin: 0px;
  line-height: 1.8em;
  letter-spacing: .015em;
  font-weight: 400;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 768px) {
    .Parrafo1 {
      font-size: 20px;
      padding: 40px;
      margin: 2px;
      font-weight: 150; } }
  @media only screen and (min-width: 768px) and (min-width: 1024px) {
    .Parrafo1 {
      font-size: 24px;
      padding: 45px;
      margin: 1px;
      font-weight: 200; } }

.Reservas {
  display: flex;
  flex-wrap: nowrap;
  background-color: #eae2b7;
  color: #003049;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  line-height: 1.8em;
  letter-spacing: .015em;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 1024px) {
    .Reservas {
      display: block;
      text-align: center;
      margin: 10px; } }

.Titulos2 {
  margin-top: 50px;
  margin-bottom: 1px;
  padding: 5px;
  text-align: center;
  line-height: 1.8em;
  letter-spacing: .015em;
  font-weight: 400;
  color: #eae2b7;
  text-transform: uppercase; }

.tit {
  text-align: center;
  color: black;
  font-weight: bold; }

.Subtitulo2 {
  margin-bottom: 10px;
  padding: 0px;
  line-height: 1.2em;
  text-align: center; }
  @media screen and (max-width: 720px) {
    .Subtitulo2 {
      display: none; } }

.tarjetas {
  margin: 20px;
  padding: 20px;
  color: #003049;
  margin: 5px; }

.animacion1 {
  transition: filter 0.1s;
  filter: grayscale 100%; }

.animacion1:hover {
  filter: #eae2b7 0%; }

.tarjetas2 {
  margin: 20px;
  padding: 20px;
  color: #003049; }

.animacion {
  transition: all 0.4s; }

.animacion:hover {
  transform: scale(1.1); }

.Video {
  text-align: center;
  margin: 5px; }

.Formularios {
  color: #eae2b7;
  line-height: 1.8em;
  letter-spacing: .015em;
  font-weight: 300;
  margin: 20px; }

.footer {
  display: flex;
  columns: 3;
  justify-content: space-around !important;
  margin: 20px;
  padding: 20px;
  color: #eae2b7;
  -webkit-transition: 1s linear;
  transition: background-color .5s; }
  @media screen and (max-width: 720px) {
    .footer {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      margin: 30px 40px; } }
  .footer .footer a:hover {
    background-color: #eae2b7; }

.imagen {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 720px;
  object-fit: cover !important; }

.covid19 {
  color: #eae2b7;
  font-size: 30px;
  padding: 50px;
  margin: 0px;
  line-height: 1.8em;
  letter-spacing: .015em;
  font-weight: 400;
  justify-content: center;
  align-items: center; }

.Redes {
  margin: 25px;
  -webkit-transition: 1s linear;
  transition: background-color .5s; }

.Redes a:hover {
  background-color: #eae2b7; }

.hover {
  transition: all 0.3s ease; }

.hover a :hover {
  background: #a5aba1;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  box-shadow: inset 0 0 0 3px #555953; }

.Menufooter {
  color: white;
  -webkit-transition: 1s linear;
  transition: background-color .5s; }

.Menufooter a:hover {
  color: #C39D6F; }

.lucasimg {
  object-fit: cover !important; }
  @media screen and (max-width: 1420px) {
    .lucasimg {
      height: 100% !important;
      width: 100%; } }
